#notification-bar {
  padding: 5px;
}
.information-section {
  flex: 50%;
}
.navigation.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-holder .icon-text {
  display: none;
}

#menu-part {
  display: none;
}

#hamburger-section {
  display: inline-flex;
}

#search-section {
  display: none;
}

#notification-bar {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
}

#information-section,
#timer {
  justify-content: center;
}

.hero-section {
  background-image: url("./LandingPageMobileHero.jpg");
  background-size: 100% 90%;
  background-repeat: no-repeat;
  width: 100%;
}

.carousel__container {
  padding-left: 20px;
}

.carousel__card {
  height: 180px;
  min-width: 144px;
  max-width: 145px;
}

.carousel__card--img img{
  width: auto;
}