:root {
  font-family: Gotham, serif;
  font-size: 16px;
  --flex-var: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand-img {
  height: 2.5rem;
  width: 3.125rem;
}

#notification-bar {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}

#notification-bar,
.navigation {
  background-color: rgb(198, 22, 51);
  color: #fff;
}

.navigation {
  background-color: rgb(198, 59, 117);
  padding: 0.625rem 1.25rem;
  display: flex;
  justify-content: space-between;
}

.remove-default {
  list-style-type: none;
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
  line-height: 1rem;
}

.time-chips {
  width: 4.375rem;
  height: 3.125rem;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  letter-spacing: 2px;
  color: #000;
}

#timer {
  display: var(--flex-var);
  gap: 5px;
  color: #000;
}

.time-chips::after {
  content: "";
  width: inherit;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(0);
  background-color: #00000020;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* animation-name: timeChanger; */
}

@keyframes timeChanger {
  0% {
  }

  25% {
  }

  50% {
  }

  75% {
  }

  95% {
  }

  100% {
  }
}

#information-section {
  display: var(--flex-var);
  justify-content: end;
  line-height: 2rem;
  align-items: baseline;
  padding-right: 1rem;
  padding-left: 1rem;
}

#information-section > div:first-child {
  border-right: 1px solid #fff;
  padding-right: 0.625rem;
}

#information-section > div:nth-child(2) {
  padding-left: 0.625rem;
}

.icon-holder {
  display: flex;
}

.mr-10px {
  margin-right: 0.625rem;
}

#user-part,
#menu-part {
  display: flex;
  padding-top: 0.5rem;
}

#hamburger-section {
  display: none;
}

.hero-section {
  background-image: url("./Hero_4.jpg");
  background-size: 100% 90%;
  background-repeat: no-repeat;
  height: 480px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-arrow {
  width: 20px;
  height: 20px;
  object-fit: none;
}

.uppercase {
  text-transform: uppercase;
}

.stick-header {
  position: sticky;
  top: 0;
}

.width-100 {
  width: 100%;
}

.carousel__container {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 1.25rem;
  padding-left: 2.5rem;
}

.carousel__card {
  height: 229px;
  min-width: 183px;
  max-width: 184px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  margin-right: 11px;
}

.carousel__card--img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
}

.carousel__card--img img {
  width: 100%;
}

.carousel__card:last-child {
  margin-right: 0;
}

.carousel__card--header {
  font-family: Gotham;
  font-style: normal;
  font-weight: 200;
  position: relative;
  display: flex;
  justify-content: space-between;
}
